/* Home.css */

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8; background: url("D:\sdp\khome\src\Assets\image copy 7.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; 

}

.content {
    max-width: 50%;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.25rem;
    color: #555;
}

.image img {
    max-width: 100%;
    height: auto;
}

/* Slider Styles */
.slider-component {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    margin: 20px auto;
}

.slider-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.slider-slide img {
    width: 100%;
    height: auto;
}

.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.new-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    background-blend-mode: darken8;
}

.new-image-container {
    flex: 1;
    padding: 10px;
}

.new-text-container {
    flex: 2;
    padding: 10px;
}

.new-text-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.new-text-container p {
    font-size: 1rem;
    color: #333;
}

.pagination {
    text-align: center;
    padding: 10px;
}

.page-number {
    font-size: 1rem;
    color: #666;
}

.next-button {
    text-align: center;
    padding: 10px;
}

.next-button button {
    font-size: 1.5rem;
    border: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.next-button button:hover {
    background-color: #0056b3;
}
